[Unit]
Description=Ultron Clock

[Service]
WorkingDirectory=/home/pi/edge-controller/aiultron
Environment="TERM=xterm"
ExecStart=/home/pi/edge-controller/aiultron/UltronClock
Restart=on-failure

[Install]
WantedBy=default.target

